<div class="adFirst">
    <hr>
    <p class="adFirstText">Данный портал предназначен администраторов, операторов, преподавателей Детской Компьютерной Школы, а также для учеников и их родителей.</p>
    <hr>
</div>

<div class="container-fluid adElems">
    <div class="adElem">
        <img class="adElemImg" src="assets/images/scedule.png" alt="" style="width: 290px;">
        <p>Удобное расписание занятий</p>
    </div>
    <div class="adElem">
        <img class="adElemImg" src="assets/images/homework.png" alt="">
        <p>Домашние задания с материалами</p>
    </div>
    <div class="adElem">
        <img class="adElemImg" src="assets/images/control.png" alt="">
        <p>Контроль посещаемости и оплаты</p>
    </div>
</div>