<ng-container *ngIf="user">
    <ng-container *ngIf="user.roles[0].systemName == 'ADMIN'">
        <div class="commonBlock">
            <div class="lColumn">
                <div class="realBlock" style="height: 470px;">
                    <h3>Управление группами</h3>
                    <app-group-block></app-group-block>
                </div>
                <hr style="margin-top: 50px;">
                <div class="realBlock" style="height: 400px;">
                    <h3>Управление пользователями</h3>
                    <app-user-block></app-user-block>
                </div>
            </div>
            <div class="rColumn">
                <div class="realBlock">
                    <h3>Управление занятиями</h3>
                    <app-calendar-block></app-calendar-block>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="user.roles[0].systemName == 'TEACHER'">
        <div class="commonBlock">
            <div class="lColumn">
                <div class="realBlock">
                    <h3>Расписание моих занятий</h3>
                    <app-calendar-block></app-calendar-block>
                </div>
            </div>
            <div class="rColumn">
                <div class="realBlock">
                    <h3>Мои группы</h3>
                    <app-group-block></app-group-block>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="user.roles[0].systemName == 'STUDENT'">
        <div class="commonBlock">
            <div class="lColumn">
                <div class="realBlock">
                    <h3>Расписание занятий</h3>
                    <app-calendar-block></app-calendar-block>
                </div>
            </div>
            <div class="rColumn">
                <div class="realBlock myData">
                    <h3>Мои данные</h3>
                    <p>Фамилия: <input type="text" id="surname" minlength="1" maxlength="100" value="{{user.surname}}" disabled></p>
                    <p>Имя: <input type="text" id="name" minlength="1" maxlength="100" value="{{user.name}}" disabled></p>
                    <p>Отчество: <input type="text" id="patronymic" minlength="1" maxlength="100" value="{{user.patronymic}}" disabled></p>
                    <p>Логин: <input type="text" id="login" minlength="1" maxlength="100" value="{{user.login}}" disabled></p>
                    <p>Телефон: <input type="phone" id="parentContact" minlength="1" maxlength="100" value="{{user.parentContact}}" disabled></p>
                    <p [style]="user.paymentStatus ? 'color: green' : 'color: red'">{{user.paymentStatus ? "Курс оплачен" : "Требуется оплата"}}</p>
                    <p>Роль:
                        <select id="role" disabled>
                            <option>{{ this.user.roles[0].displayName }}</option>
                        </select>
                    </p>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>