.commonBlock {
    display: flex;
    width: 100%;
}

.commonBlock h3 {
    margin-bottom: 20px;
}

.lColumn {
    width: 60%;
}

.rColumn {
    width: 40%;
}

.realBlock {
    margin-bottom: 30px;
    padding: 5px;
}

@media screen and (max-width: 1400px) {
    .commonBlock {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .lColumn {
        width: 100%;
    }

    .rColumn {
        width: 100%;
    }
}